body {
    margin: 0auto;
    padding: 2rem;
    font-family: monospace;
    background-color: #000;
    color: #fff;
    max-width: 60ch;
    line-height: 1.5;
}

a {
    color: #0ff;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

ul,
ol {
    padding-left: 2ch;
}

code,
pre {
    font-family: inherit;
    background-color: #111;
    color: #0f0;
    padding: 0.5em;
    border-radius: 0.2em;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
}

blockquote {
    border-left: 2px solid #888;
    padding-left: 1ch;
    color: #ccc;
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid #333;
    margin: 2rem 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
}

th,
td {
    border: 1px solid #666;
    padding: 0.5rem;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}
